{% extends "pokemon/headers.html" %} {% load staticfiles %} {% block content %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" type="text/css" href="{% static 'entities/css/style.css' %}" />
    <!--
    <script src="https://fb.me/react-15.2.0.js"></script>
    <script src="https://fb.me/react-dom-15.2.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <!--Bootstrap select &#45;&#45; for addtional pleasure-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>-->
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>Create Battle</title>
</head>

<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="title">
        <h1>Please select your battle</h1>
    </div>
    <div class="panel panel-default">
        <h2>Battle config:</h2>
        <form action="{% url 'battles:CreateBattle_New' 'Sagi' %}" method="Post">
            {% csrf_token %}
            <div>
                <div class="panel panel-primary">
                    <div class="panel-heading ">Battle Type</div>
                    <div>
                        <select type="text" id="battletype" name="battletype" class="form-control" value="battletype" </input>
                    </div>

                    <div>
                        <label>
                            <input disabled checked id="CanCatchPokemon" class="option-input checkbox" type="checkbox" value="CanCatchPokemon">Can Catch Pokemon?
                        </label>
                        <label>
                            <input disabled id="LimitPokemonNumber" class="option-input checkbox" type="checkbox" value="LimitPokemonNumber">Limit PokemonNumber
                        </label>
                        <label>
                            <input disabled checked id="AllowItems" class="option-input checkbox" type="checkbox" value="AllowItems">Allow Items
                        </label>
                        <label>
                            <input disabled checked id="PlayDirty" class="option-input checkbox" type="checkbox" value="PlayDirty">Play Dirty?
                        </label>
                        <label>
                            <input disabled id="AllowSurrender" class="option-input checkbox" type="checkbox" value="AllowSurrender">Allow Surrender?
                        </label>
                    </div>
                    <br>

                    <div class="selectionWrapper">

                        <div id="battleTitle">
                            <label>Battle Title(optional)</label>
                            <input type="text" value="" class="battleTitleInput form-control" name="battleTitle">
                        </div>
                        <div id="pokemonLimit" class="hiddenSelection" style="display:none;">
                            <label>Pokemon Limit</label>
                            <input id="pokemonLimitInput" type="number" max="6" class="pokemonLimitInput form-control" name="pokemonLimit">
                        </div>
                        <div class="entities">

                            <div id="groupA" class="entity_groups">
                                <h1>Group A</h1>
                                <!--<h2>Select group name(optional)</h2>-->
                                <input type="text" class="groupName form-control" name="GroupA_name" value="Group A" placeholder="Select group name(optional)">
                                <h3>Select your group:</h3>
                                <select id="groupA_select" name="groupA_select" multiple class="selectpicker show-tick form-control" data-live-search="true" title="Select one or more" tabindex="-1" required="" data-size="10">
                                    <optgroup id="groupA_select_Players" label="Players">
                                    </optgroup>
                                    <optgroup id="groupA_select_NPCs" label="NPCs">
                                    </optgroup>
                                </select>
                            </div>
                            <div id="groupB" class="entity_groups">
                                <h1>Group B</h1>
                                <!--<h2>Select group name(optional)</h2>-->
                                <input type="text" class="groupName form-control" name="GroupB_name" value="Group B" placeholder="Select group name(optional)">
                                <h3>Select your group:</h3>
                                <select id="groupB_select" name="groupB_select" multiple class="selectpicker show-tick form-control" data-live-search="true" title="Select one or more" tabindex="-1" required="" data-size="10">
                                    <optgroup id="groupB_select_Players" label="Players">
                                    </optgroup>
                                    <optgroup id="groupB_select_NPCs" label="NPCs">
                                    </optgroup>
                                </select>
                                <!--Entity Card - Demo for now
                                <div class="selected-entity-card">
                                    <div class="selected-entity-card-details">
                                        <div class="selected-entity-card-img-container">
                                            <img class="selected-entity-card-img" src="https://orig00.deviantart.net/d7c4/f/2014/294/9/d/trainerwip2_by_foxeaf-d83mhhs.png" />
                                        </div>
                                        <div class="selected-entity-card-text">
                                            <div>Audun</div>
                                            <div>Player: Omer</div>
                                            <div>Level 7 Capture Speciallist</div>
                                        </div>
                                    </div>
                                    <div class="selected-entity-card-pokemon-selection">
                                        <select id="Omer_selectPokemon" name="Omer_selectPokemon" class="selectpicker show-tick form-control" title="Select your Pokemon" tabindex="-1" required="" data-size="10">
                                            <option value="7" data-subtext="Level 21 Cranidos">Karnaf</option>
                                            <option value="8" data-subtext="Level 21 Quilava">Queef Lava</option>
                                            <option value="9" data-subtext="Gar Bagan">Parpar</option>
                                        </select>
                                    </div>
                                </div>-->
                            </div>
                                        {% if errorcode %}
            <h4>Error number {{ errorcode }} - "{{ errormsg }}"</h4>
            {% endif %}
                            <div style="clear:both;"></div>
                        </div>


                    </div>

                </div>



                <div class="startBattle">

                    <div class="box"></div>
                    <span>Start your battle!</span>
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>


            </div>
            <input type="submit" class="InvisibleSubmit" value="Create New Battle"/>
        </form>


    </div>
    {% if Data %}
    <h4>New Battle was created: {{ BattleId }}</h4>
    <h5>{{ Data }}</h5>
    {% endif %}


    <div class="container">
    </div>
    <script src="{% static '\battles\js\main.js' %}"></script>
</body>

</html>

<!--bind the buttons div to the submit button fucker mother mother mother moana :)-->
<script>
    $('.startBattle').on('click', function() {
        $('form')[0].submit();

    });
</script>
{% endblock %}