{% extends "pokemon/headers.html" %}
{% load staticfiles %}
{% block tabname %}Pokemon Page - {{pokemondetails.PokemonNickName}}{% endblock %}

{% block content %}
{% if pokemondetails %}

<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: right;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>

<div class="container-fluid">
    <div align="left">
        <!--<h2>{{pokemondetails.PokemonNickName}}</h2>-->
        <img src="https://img.pokemondb.net/artwork/{{ pokemondetails.Species|lower }}.jpg"  align="left" alt="({{ pokemondetails.Species }}" />

        <div class="gallery">
                  <a target="{% url 'Entities:getentities' entity_Id %}" href="{% url 'Entities:getentities' entity_Id %}">
                    <img src="http://i63.tinypic.com/6fwr40.png" alt="trainer" width="300" height="200">
                  </a>
                  <div class="desc">Back to trainer '{{ pokemondetails.OwnerName }}'</div>
        </div>
        <!--<a href="{% url 'Entities:getentities' entity_Id %}" align="right"><img src="http://i63.tinypic.com/6fwr40.png" alt="trainer" align="right"/><div style="font-size:24px;" align="right">Back to trainer '{{ pokemondetails.OwnerName }}'</div></a>-->
    </div>
</div>
<div class="container-fluid">
    <h1>{{ pokemondetails.PokemonNickName }}</h1>
    <h4>{{ pokemondetails.Species }}</h4>
    <input type="button" id="show-more-less" class="btn btn-secondary btn-lg btn-block" value="Show Less"/>
    <form class="form-horizontal" action="{% url 'Entities:UpdatePokemonDetails' entity_Id pokemondetails.PokemonId %}" method="Post" enctype="multipart/form-data">
    <!--<form class="form-horizontal" action="http://127.0.0.1:8000/entities/{{entity_Id}}/pokemonpage/{{pokemondetails.PokemonId}}" method="Post" enctype="multipart/form-data">-->
        <!--{% csrf_token %}-->
        {% for header in PokemonHeaders %}
        {% if header.RowNumber == '-1' %}
            <input type="hidden" name="{{header.ColumnName}}" id="header{{ forloop.counter }}" value="{% if header.ColumnName == 'DMName' %}Sagi{% else %}{{header.ColumnValue}}{% endif %}">
        {% elif header.DataType == '0' %}
            <div class="col-md-{{ header.ColumnWidth }}" id="{{header.ColumnName}}ID" about="what?">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ header.ColumnDisplayName }}</div>
                    <input type="{{header.InputType}}" id="{{header.ColumnName}}" name="{{header.ColumnName}}" class="form-control" value="{{header.ColumnValue}}" {% if not header.AllowEditing == '1' %} readonly {% endif %}></input>
                </div>
            </div>
        {% elif header.DataType == '1' %}
            <div class="col-md-{{ header.ColumnWidth }}" id="{{header.ColumnName}}ID" about="what?">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ header.ColumnDisplayName }}</div>
                    <select class="form-control" id="{{header.ColumnName}}">
                        {% for Specie in AllSpecies %}
                      <option value={{Specie.Species}} >{{Specie.Species}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

        {% else %}
            <div class="col-md-{{ header.ColumnWidth }}" id="{{header.ColumnName}}ID" about="what?">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ header.ColumnDisplayName }}</div>
                    <select class="form-control" id="{{header.ColumnName}}">

                    </select>
                </div>
            </div>
        {% endif %}
        {% endfor %}

        <input type="submit" class="btn btn-secondary btn-lg btn-block" value="Update Details"/>
    </form>
</div>

<h3>Pokemon Moves:</h3>
{% if allavailablemoves %}
<div>
    <table class="table table-hover">
        <thead>
            <th>Move #</th>
            <th>Move Name</th>
            <th>Element Type</th>
            <th>Category</th>
            <th>Frequency</th>
            <th>Target</th>
            <th>AC Check</th>
            <th>Damage</th>
            <th>Move's Description</th>
        </thead>
        <tbody>
        {% for moove in allavailablemoves %}
            <tr>
                <td>{{ moove.MoveNumber }}</td>
                <td>{{ moove.MoveName }}</td>
                <td>{{ moove.ElementType }}</td>
                <td>{{ moove.Category }}</td>
                <td>{{ moove.Frequency }}</td>
                <td>{{ moove.NumOfTargets }}</td>
                <td>{{ moove.AC }}</td>
                <td>{{ moove.Damage }}{% if moove.Damage != '-' and moove.Damage != 'None' %}+{{ moove.DamageModifier }}{% endif %}</td>
                <td>{{ moove.AttackEffects }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script src="{% static '\entities\js\show-more-less.js' %}"></script>

{% else %}
    <h3>No Available Moves found</h3>
{% endif %}

{% else %}
	<h3>Pokemon does not exist.<br>Are you a moron??</h3>
{% endif %}


{% endblock %}